/*pc端开始*/
body,
nav,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.logo {
    top: 3px;
    height: 400px;
    text-align: center;
}

nav {
    height: 50px;
    min-width: 1000px;
}

li {
    list-style: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

li a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

li a:hover {
    color: blue;
}

.logo {
    min-width: 700px;
}

.logo img {
    position: relative;
    width: 270px;
    height: 129px;
    top: 40px;
}

.logo form {
    position: relative;
    min-width: 658px;
    top: 60px;
}

.logo form input:first-child {
    padding-left: 15px;
    width: 540px;
    height: 36px;
    box-sizing: border-box;
    outline-style: none;
}

.logo form input:last-child {
    position: relative;
    border: none;
    width: 100px;
    height: 36px;
    top: 1px;
    background: #3385ff;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    left: -8px;
}
.app{
	display: none;
}
/*pc端结束*/
/*-------------------------------------------------------------------------------*/
/*APP端开始*/
@media screen and (max-width: 650px) {
	.pc{
		display: none;
	}
	.app{
		display: block;
	}
	li a:hover{
		color: red;
	}
	.apptop{
		height: 256px;
		background: #f1f1f1;
	}
	.applogo{
		height: 74px;
		text-align: center;
	}
	.applogo img{
		width: 181px;
		height: 57px;
	}
	.apptop form{
		height: 45px;
		margin:0 16px;
		display: -webkit-flex;
	}
	form .inputdiv{
		width: 100%;
	}
	form .iconwrap{
		position: absolute;
		top: 74px;
		right: 0;
	}
	form .inputdiv input{
		box-sizing: border-box;
		width: 100%;
		height: 45px;
		padding-left: 16px;
		outline-style: none;
		border: 1px solid #888;
	}
	form .inputdiv input:focus{
		border-color:#1A7EE4;
	}
	form .inputdiv button{
		background: #1F75F7;
		height:45px;
		width: 90px;
		margin-right: 16px;
		border: 1px solid blue;
    color: white;
    font-size: 18px;
	}
	.iconwrap{
		display: inline-block;
	}
	.baiduapp-icon:before{
		content: "";
    position: absolute;
    top: 21px;
    right: 115px;
    border: 4px solid transparent;
    border-top-color: #717077;

	}
	.baiduapp-icon:after{
	content: "";
	background:url("../img/mmsicon.png");
	height: 20px;
    width: 14px;
    background-size: 33px 19px;
	}
	/*导航开始*/
	.appnav{
		position: relative;
    top: 30px;
    left: 30px;
	}
	.appnav div{
		width: 15%;
		height: 40px;
		margin-left: 2px;
		float: left;
	}
	.appnav div span{
		font-size: 12px;
		color: #777;
		position: relative;
    	left: 3px;
	}
	.appnav div:nth-child(1) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -360px;
	}
	.appnav div:nth-child(2) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -540px;
	}
	.appnav div:nth-child(3) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -450px;
	}
	.appnav div:nth-child(4) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -630px;
	}
	.appnav div:nth-child(5) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -570px;
	}
	.appnav div:nth-child(6) a {
		display: block;
		width: 30px;
		height: 30px;
		background: url("../img/iconsp.png") center no-repeat;
		background-size: 30px auto;
		background-position: 0 -420px;
	}
	.pic-content .img-wrap{
		float: left;
		width: 33%;
	}
	.word h2{
		font-size: 18px;
		color: #000;
		text-decoration: none;
	}
	span{
		font-size: 15px;
		color: #888;
	}
	a{
		text-decoration: none;
	}
	#foot div a{
		font-size: 12px;
		color: #666;
	}
	#foot div{
		text-align: center;
		}
	}
