
    .content{
    width: 310px;
    height: 470px;
    background: #00BEDC;
    margin-left: 250px;
    padding-left: 15px;
    border-radius: 11px;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 5px #666;
    border:2px solid #666;
    }
    .content input:hover{
        cursor: pointer;
        box-shadow: 0 0 5px ;
    }
    .top{
        width: 254px;
        height: 100px;
        padding: 10px;
    }
    .top input{
        background: #fff;
        width: 76px;
        box-sizing: border-box;
        border:1px solid #fff;
    }

    .top div{
        text-align: center;
        margin-top: 15px;
    }
    .top div input{
        width: 118px;
        height:30px;
        font-size: 18px;
    }
    .number{
        width: 309px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        position: relative;
        left: 7px;
    }
    .number div{
        float: left;
        margin-top: 2px;
        margin-right: 2px;
    }
    .number div input{
       background: #fff;
       box-sizing: border-box;
       border:1px solid #fff;
    }
    .numberf{
        width: 60px;
        height: 60px;
    }
input{
    font-size: 26px;
    font-weight: bolder;
}
    
