*{
	margin:0;
	padding:0;
}

.container{
	
}
img{
	width: 220px;
	
	margin-top:10px;
	border:1px solid #f3f3f3;
}
.box{
	position: relative;
	width: 220px;
	float: left;
	margin-left: 4px;
	min-width: 220px;

}